# ArcGIS JavaScript API Key (Peta Spasial)
NEXT_PUBLIC_ARCGIS_API_KEY=

# Backend API URL (Optional if using default localhost:8000/api)
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api

# Cloudflare Turnstile Site Key
# Dapatkan di: https://dash.cloudflare.com/?to=/:account/turnstile
# Default fallback test key (selalu valid): 1x00000000000000000000AA
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=
